.Dashboard {
  margin: auto;
  margin-top: 100px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.LocationTable {
  flex: 1;
}

.LocationMap {
  margin-right: 20px;
  flex: 1;
  height: 500px;
}

.Marker {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 10px;
  top: 10px;
  border: 2px solid #f44336;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.Hint {
  position: absolute;
  padding: 5px;
  left: 27px;
  top: 27px;
  border-radius: 3px;
  background-color: white;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
}

.Marker:hover {
  border: 2px solid #3f51b5;
  color: #f44336;
}